<%- layout('layouts/session.ejs') %>

	<section class="curso">
		<div class="container">
			<div class="row" style="text-align:center;">
				<div class="col-md-12">
					<h2>Administrar Clases</h2>
					<p class="descReg"> <%= name %>  </p>
				</div>
			</div>
		</div>
	</section>

	
	<section>
		<form  id = "formulario" class="container" action="/adminClass?id=<%=id%>" method="POST">
			<div class="row">
				<div class="col-md-6 col-sm-12">
					<div class="form-group r">
          				<label>Tema del dia</label>
				  		<input type="text" class="form-control rgt" name="theme"  placeholder="Escriba aquí..." required>
        			</div>
				</div>
				<div class="col-md-6 col-sm-12">	
					<div class="form-group l">
          				<label>Fecha</label>
          				<input id="date" type="date" class="form-control rgt" name="date" placeholder="Escriba aquí..." required>
        			</div>
        		</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-sm-12">
					<div class="form-group r">
          				<label>Nombre de Actividad</label>
						<input type="text" class="form-control rgt" name="title"  placeholder="Escriba aquí..." required>
        			</div>
				</div>
				<div class="col-md-6 col-sm-12">
					<div class="form-group l">
          				<label>porcentaje</label>
						  <input id = "percentage" name="percentage" class="form-control" required>
      							
        			</div>
				</div>
			</div>
			<div class="row text-center">
				<div class="col-md-12"  style="padding: 0% 25%">>
					<div class="form-group">
          				<label>Descripcion de actividad</label>
						<textarea class="form-control TextM" name="description" rows="5" id="comment" placeholder="Type here..."></textarea>
        			</div>	
				</div>
			</div>
				
			<div class="row">
				<div class="col-md-6 col-sm-6 col-xs-6">
					<button type="submit" class="btn btn-default r">Guardar</button>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-6">
					<button type="submit" class="btn btn-default l" formaction="/" formmethod="GET">Cancelar</button>
				</div>
			</div>
    	</form>
	</section>
	<script src = "/scripts/request.js"></script>
	<script src="/scripts/adminClass.js"></script>