<%- layout('layouts/main.ejs') %>


	<section class="confirmar">
		<div class="container">
			<div class="row" style="text-align:center;">
				<div class="col-md-12">
					<h2>Confirmacion de Cuenta</h2>
					<p class="descReg">Nombre del profesor</p>
				</div>
			</div>
		</div>
	</section>

	<section class="confirmar">
		<div class="container">
			<div class="row text-center">
				<div class="col-md-12">
					<p class="desc">La creación de la cuenta ha sido exitosa</p>
				</div>
			</div>
		</div>
	</section>