<%- layout('layouts/session.ejs') %>

	<section class="curso">
		<div class="container">
			<div class="row" style="text-align:center;">
				<div class="col-md-12">
					<h2>Crear Estudiantes</h2>
					<p class="descReg">Crear estudiante</p>
				</div>
			</div>
		</div>
	</section>

	
	<section>
		<form class="container" action="/createstudent" method="POST" enctype="multipart/form-data">
			<div class="row container-fluid">
				<div class="col-md-12 text-center">
					<img src="img/Users/<%= user.photo%>" class="photoPro"> 
				</div>
			</div>
			<div class="row" style="margin: 0 35%">
				<div class="col-md-12">
					<div class="upload-btn-wrapper">
					  <button class="btn">Cargar foto de perfil</button>
					  <input type="file" name="avatar" accept="image/*"/>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-sm-12">
					<div class="form-group r">
						<label>Nombre</label>
          				<input type="text" class="form-control rgt" name="firstName" placeholder="Escriba aqui..." required>
        			</div>
				</div>
				<div class="col-md-6 col-sm-12">
					<div class="form-group l">
						<label>Numero de Identificación</label>
          				<input class="form-control rgt number" name="Codigo" placeholder="Escriba aqui..." required>
        			</div>	
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-sm-12">
					<div class="form-group r">
          				<label>Apellido</label>
          				<input type="text" class="form-control rgt" name="lastName" placeholder="Escriba aqui.." required>
        			</div>
				</div>
				<div class="col-md-6 col-sm-12">
					<div class="form-group l">
			          	<label>Correo</label>
			          	<input id = "email" class="form-control rgt" name="email" placeholder="Escriba aqui..." required>
          				<label id="emailcheck" name="emailcheck"></label>
		        	</div>	
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-sm-6 col-xs-6">
					<button type="submit" class="btn btn-default r">Guardar</button>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-6">
					<button onclick="location.href='/profile'" class="btn btn-default l">Cancelar</button>
				</div>
			</div>

			<!--  Necesitamos mirar bien esta parte para que no se vaya a darñar el responsive-->
			<% if(signupMessage.length > 0) { %>
				<div class="row">
					<div class="col-md-6 col-sm-12">
						<div class="form-group r">
							<label><%= signupMessage %></label>
						</div>
					</div>
				</div>
			<% } %>
    	</form>
	</section>
	<script type="text/javascript" src="scripts/emailComfirmation.js"></script>
	<script type="text/javascript" src="scripts/numberAutentication.js"></script>
	<script type="text/javascript" src = "scripts/passwordAutentication.js"></script>
  	<script src = "/scripts/request.js"></script>