<%- layout('layouts/main.ejs') %>

	<section class="Olvidar">
		<form class="container" action="/forgot" method="POST">
			<div class="row" style="text-align:center;">
				<div class="col-md-12">
					<h2>Olvidé mi contraseña/cuenta</h2>
					<p class="descReg">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="form-group m">
						<label>Correo</label>
          	<input type="email" class="form-control rgt" name="email" placeholder="Type here..." required>
        	</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<button type="submit" class="btn btn-default m">Recuperar</button>
				</div>
			</div>
		</form>
	</section>