<form action="/signin" method="POST">
    <input type="number" name="document" placeholder="Type here..." required>
    <input type="text" name="username" placeholder="Type here..." required>
    <input type="password" name="password" minlength="8" placeholder="Type here..." required>
    <button type="submit">Entrar</button>
</form>