<%- layout('layouts/main.ejs') %>

	<section>
		<form class="container" id="capt" action="/signin" method="POST">
			<div class="row" style="text-align:center;">
				<div class="col-md-12">
					<h2>Ingresar</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="form-group m">
						<label>Usuario</label>
          	<input type="text" class="form-control rgt" name="username" placeholder="Type here..." required>
        	</div>
				</div>
				<div class="col-md-12">
					<div class="form-group m">
						<label>Cedula</label>
          	<input id = "document" class="form-control rgt number" name="document" placeholder="Type here..." required>
        	</div>	
				</div>
				<div class="col-md-12">
					<div class="form-group m">
          	<label>Contraseña</label>
          	<input id = "password" type="password" onpaste = "return false" onut = "return false" oncopy = "return false" class="form-control rgt password" name="password" placeholder="Type here..." minlength="8" required>
        	</div>
				</div>
				<div class="col-md-12">
					<div class="form-group m">
						<div id="divcaptcha">

						</div>
          	<input id = "captcha" onpaste = "return false" onut = "return false" oncopy = "return false" class="form-control rgt password" name="captcha" placeholder="Type here..." required>
        	</div>
				</div>
			</div>
			<script src="https://www.google.com/recaptcha/api.js" async defer></script>
			
			<div class="row">
				<div class="col-md-12">
					<button id = "boton" type="submit" class="btn btn-default m">Login</button>
				</div>
			</div>
		</form>
	<script>
			document.getElementById('capt').addEventListener('submit', submitForm);
			function submitForm(e){
				
				const captcha = document.querySelector('#g-recaptcha-response').value;
				
				if (captcha == ''){
					e.preventDefault();
					alert('please solve captcha')
				}
				console.log(captcha)
			}
	</script>
	</section>
	<script src = "/scripts/passwordAutentication.js"></script>
	<script src="/scripts/numberAutentication.js"></script>
	<script src="/scripts/request.js"></script>
	<script src = "/scripts/signin/signin.js"></script>
