<%- layout('layouts/main.ejs') %>

	<section>
		<form class="container" action="/signin" method="POST">
			<div class="row" style="text-align:center;">
				<div class="col-md-12">
					<h2>Ingresar</h2>
					<p class="descReg">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="form-group m">
						<label>Usuario</label>
          	<input type="text" class="form-control rgt" name="username" placeholder="Type here..." required>
        	</div>
				</div>
				<div class="col-md-12">
					<div class="form-group m">
						<label>Cedula</label>
          	<input type="number" class="form-control rgt" name="document" placeholder="Type here..." required>
        	</div>	
				</div>
				<div class="col-md-12">
					<div class="form-group m">
          	<label>Contraseña</label>
          	<input type="password" class="form-control rgt" name="password" placeholder="Type here..." minlength="8" required>
        	</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<button type="submit" class="btn btn-default m">Login</button>
				</div>
			</div>
		</form>
	</section>