<%- layout('layouts/main.ejs') %>

	<section>
		<form class="container" action="/signup" method="POST">
			<div class="row" style="text-align:center;">
				<div class="col-md-12">
					<h2>Registro</h2>
					<p class="descReg">Todos los campos son obligatorios.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-sm-12">
					<div class="form-group r">
						<label>Nombres</label>
          	<input type="text" class="form-control rgt" name="firstName" placeholder="Escriba aqui..." required>
        	</div>
				</div>
				<div class="col-md-6 col-sm-12">
					<div class="form-group l">
						<label>Apellidos</label>
          	<input type="text" class="form-control rgt" name="lastName" placeholder="Escriba aqui..." required>
        	</div>	
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-sm-12">
					<div class="form-group r">
          	<label>Nombre de usuario</label>
          	<input type="text" class="form-control rgt" name="username" placeholder="Escriba aqui..." required>
        	</div>
				</div>
				<div class="col-md-6 col-sm-12">
					<div class="form-group l">
          	<label>Correo</label>
          	<input id = "email" class="form-control rgt" name="email" placeholder="Escriba aqui..." required>
        	</div>	
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-sm-12">
					<div class="form-group r">
          	<label>Cedula</label>
          	<input class="form-control rgt number" name="document" placeholder="Escriba aqui..." required>
        	</div>
				</div>
				<div class="col-md-6 col-sm-12">
					<div class="form-group l">
          	<label>contraseña</label>
          	<input id = "password" type="password" class="form-control rgt" name="password"onpaste = "return false" onut = "return false" oncopy = "return false" minlength="8" placeholder="Escriba aqui..." required>
        	</div>	
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-sm-12">
					<button type="submit" class="btn btn-default r">Regristrar</button>
				</div>
				<div class="col-md-6 col-sm-12">
					<button type="submit" class="btn btn-default l" formaction="/" formmethod="GET">Cancelar</button>
				</div>
			</div>

			<!--  Necesitamos mirar bien esta parte para que no se vaya a darñar el responsive-->
			<% if(signupMessage.length > 0) { %>
				<div class="row">
					<div class="col-md-6 col-sm-12">
						<div class="form-group r">
							<label><%= signupMessage %></label>
						</div>
					</div>
				</div>
			<% } %>
    </form>
	</section>
	<script src="/scripts/emailComfirmation.js"></script>
	<script src="/scripts/numberAutentication.js"></script>
	<script type="text/javascript" src = "/scripts/passwordAutentication.js"></script>