.dot{
	max-width: 4vw;
	margin: -20% 0% -20% 0%;
}

.courseList a{
	color: #CBCFD4;
}


.courseList a:hover, .courseList a:focus{
	color: #FFF;
}

section.curso{
	box-shadow: 0px 30px 40px rgba(0, 0, 0, 0.1);
	padding: 4% 0;
}

section.curso .TextM{
	width: 30%;
	margin-left: auto;
	margin-right: auto;
}

p.cod{
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	line-height: normal;
	font-size: 10px;
	text-transform: uppercase;
	color: #F27A54;
}

div.tarcurso{
	background: #3C444D;
	box-shadow: 0px 30px 40px rgba(0, 0, 0, 0.1);
	border-radius: 6px;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 10%;
}

section.curso p.name{
	font-family: Zilla Slab;
	font-style: normal;
	font-weight: normal;
	line-height: 28px;
	font-size: 24px;
	color: #FFFFFF;
}

section .col-md-6 .btn.r{
	color: #FFF;
	padding: 1% auto;
	margin: 5% 10% auto 50%;
	text-transform: uppercase;
	border-radius: 26px;
	border: 0 solid #FFF;
	background-image: linear-gradient(to right, #76323F -21.05%, #C09F80 121.05%);
}

section .col-md-6 .btn.l{
	color: #FFF;
	padding: 1% auto;
	margin: 5% 30% auto 10%;
	text-transform: uppercase;
	border-radius: 26px;
	border: 0 solid #FFF;
	background-image: linear-gradient(to right, #76323F -21.05%, #C09F80 121.05%);
}

@media (max-width: 1000px){

	section.curso .col-sm-6 .btn.l{
		color: #FFF;
		padding: 1% auto;
		margin: 2% 28%;
		text-transform: uppercase;
		border-radius: 26px;
		border: 0 solid #FFF;
		background-image: linear-gradient(to right, #76323F -21.05%, #C09F80 121.05%);
	}

	section.curso .col-sm-6 .btn.r{
		color: #FFF;
		padding: 1% auto;
		margin: 2% 20%;
		text-transform: uppercase;
		border-radius: 26px;
		border: 0 solid #FFF;
		background-image: linear-gradient(to right, #76323F -21.05%, #C09F80 121.05%);
	}

	section.curso .TextM{
		width: 60%;
		margin-left: auto;
		margin-right: auto;
	}
}

@media (max-width: 750px){

	section.curso .col-xs-6 .btn.l{
		color: #FFF;
		padding: 1% 10%;
		margin: 2% 20%;
		text-transform: uppercase;
		border-radius: 26px;
		border: 0 solid #FFF;
		background-image: linear-gradient(to right, #76323F -21.05%, #C09F80 121.05%);
	}

	section.curso .col-xs-6 .btn.r{
		color: #FFF;
		padding: 1% 10%;
		margin: 2% 20%;
		text-transform: uppercase;
		border-radius: 26px;
		border: 0 solid #FFF;
		background-image: linear-gradient(to right, #76323F -21.05%, #C09F80 121.05%);
	}

	section.curso .TextM{
		width: 60%;
		margin-left: auto;
		margin-right: auto;
	}
}